# Byte-compiled files
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

###################

*
!*/

reserv/
plot_codes/
plots/
plots.py
requirements.txt
data/*
config.py

!data/
!data/dataset.pkl
!data/dataset.csv
!data/intra_B_N_dataset.pkl
!data/intra_B_N_dataset.csv
!data/inter_B_N_dataset.pkl
!data/inter_B_N_dataset.csv
!data/intra_B_P_dataset.pkl
!data/intra_B_P_dataset.csv
!data/intra_Al_N_dataset.pkl
!data/intra_Al_N_dataset.csv
!data/dataset_expanded.pkl
!data/dataset_expanded.csv
!data/intra_B_N_dataset_expanded.pkl
!data/intra_B_N_dataset_expanded.csv
!data/inter_B_N_dataset_expanded.pkl
!data/inter_B_N_dataset_expanded.csv
!data/intra_B_P_dataset_expanded.pkl
!data/intra_B_P_dataset_expanded.csv
!data/intra_Al_N_dataset_expanded.pkl
!data/intra_Al_N_dataset_expanded.csv
!data/input/
!data/input/cl_metriazole.log
!data/input/4meborinane_dimethylaniline.log
!data/input/h_naphthalene.log
!data/input/me_indenoPy.log
!data/input/me_xanthene.log