# Byte-compiled files
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.pkl

# VS Code settings
.vscode/

*.log
*.chk
*.out
*.cube
*.pkl

###################

reserv/
plot_codes/
plots/
plots.py
requirements.txt
data/