# Byte-compiled files
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

###################

*
!*/

plot_codes/
plots/
plots.py
requirements.txt
data/*

# Data training set
!data/
!data/reac_free_energies.csv
!data/barr_free_energies.csv
!data/feha_energies.csv
!data/fepa_energies.csv
!data/dataset.pkl
!data/dataset.csv
!data/dataset_expanded.pkl
!data/dataset_expanded.csv

!data/h_h_ts_dists.csv
!data/h_h_ts_dists.pkl

!data/ts_geoms/
!data/ts_geoms/*

# Data testing set
!data/intra_B_N_reac_free_energies.csv
!data/intra_B_N_barr_free_energies.csv
!data/intra_B_N_feha_energies.csv
!data/intra_B_N_fepa_energies.csv
!data/intra_B_N_dataset.pkl
!data/intra_B_N_dataset.csv
!data/inter_B_N_reac_free_energies.csv
!data/inter_B_N_barr_free_energies.csv
!data/inter_B_N_feha_energies.csv
!data/inter_B_N_fepa_energies.csv
!data/inter_B_N_dataset.pkl
!data/inter_B_N_dataset.csv
!data/intra_B_P_reac_free_energies.csv
!data/intra_B_P_barr_free_energies.csv
!data/intra_B_P_feha_energies.csv
!data/intra_B_P_fepa_energies.csv
!data/intra_B_P_dataset.pkl
!data/intra_B_P_dataset.csv
!data/intra_Al_N_reac_free_energies.csv
!data/intra_Al_N_barr_free_energies.csv
!data/intra_Al_N_feha_energies.csv
!data/intra_Al_N_fepa_energies.csv
!data/intra_Al_N_dataset.pkl
!data/intra_Al_N_dataset.csv
!data/intra_B_N_dataset_expanded.pkl
!data/intra_B_N_dataset_expanded.csv
!data/inter_B_N_dataset_expanded.pkl
!data/inter_B_N_dataset_expanded.csv
!data/intra_B_P_dataset_expanded.pkl
!data/intra_B_P_dataset_expanded.csv
!data/intra_Al_N_dataset_expanded.pkl
!data/intra_Al_N_dataset_expanded.csv

# Gaussian output file examples
!data/input/
!data/input_ts/
!data/input/cl_metriazole.log
!data/input_ts/cl_metriazole_ts1.log
!data/input/4meborinane_dimethylaniline.log
!data/input_ts/4meborinane_dimethylaniline_ts1.log
!data/input/h_naphthalene.log
!data/input_ts/h_naphthalene_ts1.log
!data/input/me_indenoPy.log
!data/input_ts/me_indenoPy_ts1.log
!data/input/me_xanthene.log
!data/input_ts/me_xanthene_ts1.log
!data/esp_charges/
!data/esp_charges/cl_metriazole_chelpg.log
!data/esp_charges/4meborinane_dimethylaniline_chelpg.log
!data/esp_charges/h_naphthalene_chelpg.log
!data/esp_charges/me_indenoPy_chelpg.log
!data/esp_charges/me_xanthene_chelpg.log
!data/intra_B_N/
!data/intra_B_N/BN_aniline_Cl_Cl_tetramethylpentane15.log
!data/intra_B_N/cf3_dimetriazole.log
!data/inter_B_N/
!data/inter_B_N/dfdmeobn_pyra.log
!data/intra_B_P/
!data/intra_B_P/phosphanylphenilborane_phosphanylphenilborane.log
!data/intra_Al_N/
!data/intra_Al_N/bicyclo_alaniline.log
